In [1]:
print("Salam, It is Day 6 of Practice")

Salam, It is Day 6 of Practice

In [2]:
print(3*'2')

222

In [7]:
myList = [1,2,3,4]
for i in myList:
    print(i)


my-var = 'nak'
print(my-var)

# for i in range(myList):

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3811561174.py, line 6)

In [14]:
x = [1, 2, 3, 4]
x.
x

[2, 3, 4]

In [9]:
print(type({1, 2, 3}))

<class 'set'>

In [10]:
print(bool("False"))

True

In [11]:
not (True or False)

False

In [15]:
x = 5
y = 10
x, y = y, x
print(x, y)

10 5

In [16]:
dict = {}
print(type(dict))

<class 'dict'>

In [23]:
# Task 1: Basic Calculator (10 marks)

opr = input('Enter Operater: +, -, /, x')
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
    
def basic_calculator(num1, num2, opr):
    if opr == '+':
        return num1 + num2
    elif opr == '-':
        return num1 - num2
    elif opr == '/':
        if num2 == 0:
            print('Error: Division by zero')
            return None
        return num1 / num2
    elif opr == 'x':
        return num1 * num2
    else:
        print('Invalid operator')
        return None
    

basic_calculator(num1,num2,opr)

Error: Division by zero

In [ ]:
# Task 2: Count Even and Odd Numbers in a List

In [31]:
lst = [1,2,3,4,5,6,7,8]
even_count = 0
odd_count = 0
for num in lst:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

("Even:", even_count,"Odd:", odd_count)

('Even:', 4, 'Odd:', 4)

In [34]:
# Write a Python program that performs the following tasks:

# Create a dictionary that stores the names and grades of 5 students.
# Ask the user to input the name of a student.
# If the student's name exists in the dictionary, print the grade of that student.
# If the student's name does not exist, allow the user to add the student and their grade to the dictionary.
# Print the updated dictionary.

students = {
    "John": 85,
    "Alice": 90,
    "Bob": 78,
    "Charlie": 95,
    "David": 82
}
def get_student_grade():
    name = input("Enter the name of the student: ")
    if name in students:
        print(f"The grade of {name} is {students[name]}")
    else:
        grade = int(input("Enter the grade of the student: "))
        students[name] = grade
        print(f"Student {name} added successfully.")
        print("Updated dictionary:", students)

get_student_grade()

The grade of Alice is 90

In [12]:






stu = {
    "Nadir": 88,
    "Janzeb": 87,
    "Farman": 89
}

name = input("Enter Student's Name: ")

if name in stu:
    print(f'The grade of {name} is {stu[name]}')
else:
    grade = int(input("Enter the students grade: "))
    new = stu[name] = grade
    print("Student added successfully", stu)

Enter Student's Name:  Farman

The grade of Farman is 89

In [11]:
stu

{'Nadir': 88, 'Janzeb': 87, 'Farwa': 89, 'meee': 343}

In [13]:
print("Hello " + str(123))

Hello 123

In [14]:
print(bool(0))

False

In [16]:
a = int("123")
a + 2

125

In [30]:
for i in range(2,10,2):
    if i == 4:
        pass
    print(i)
print(type(i))

2
4
6
8
<class 'int'>

In [32]:
lst = [12,33]
max(lst)

33

In [54]:
# Task 1: Count and Sum Even and Odd Numbers (10 Marks)
even = 0
odd = 0

evenSum = []
oddSum = []

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        evenSum.append(num)
        even +=1
    else:
        odd +=1
        oddSum.append(num)
        

print(f'Even Count: {even}, Odd Count: {odd} \nSum of Even:  {sum(evenSum)}, Sum od Odd: {sum(oddSum)} ')

Even Count: 5, Odd Count: 5
Sum of Even:  30, Sum od Odd: 25

In [57]:
x = ('apple', 'banana', 'cherry')
yy = id(x)
yy

131660187506880

In [58]:
10//3

3

In [69]:
x = [1, 2, 3, 4]
x.pop(0)

1

In [61]:
type(set([1, 2, 3]))

set

In [1]:
type(set(1, 2, 3))

TypeError: set expected at most 1 argument, got 3

In [2]:
bool(0)

False

In [14]:
n = int(input("Enter the number: "))
nSum = []
for i in range(1,n+1):
    nSum.append(i**2)
print(f'The sum of first {n} square numbers is {sum(nSum)}')

Enter the number:  7

The sum of first 7 square numbers is 140

In [110]:

password = "najdjdNN11"
length = len(password)

if length >= 8:
    for a in password:
         if (a.isupper()) == True and (a.lower()):
               if any(a.isdigit() for a in password):
                   print("Valid")
               else:
                   print("Has no number")
     else:
         print("upper or lower")
else:
    print("Length is not valid")

upper or lower
upper or lower
upper or lower
upper or lower
upper or lower
upper or lower
Valid
Valid
upper or lower
upper or lower