In [1]:
print("Salam, It's Friday Day 8 of Practice.")

Salam, It's Friday Day 8 of Practice.

In [9]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the iris dataset
iris = sns.load_dataset('iris')
df = pd.DataFrame(iris)

# Display the first few rows of the dataset
df.head()
# selecting two cols

df[['sepal_length', 'petal_width']]

     sepal_length  petal_width
0             5.1          0.2
1             4.9          0.2
2             4.7          0.2
3             4.6          0.2
4             5.0          0.2
..            ...          ...
145           6.7          2.3
146           6.3          1.9
147           6.5          2.0
148           6.2          2.3
149           5.9          1.8

[150 rows x 2 columns]

In [1]:
print("This is Jupyter")

This is Jupyter

In [2]:
import pandas as pd

In [15]:
data = pd.read_csv("/home/nak/CODE/Python Course IBA/data/sales_data .csv")
df = pd.DataFrame(data)
df

,Sale_ID,Product,Price,Quantity,Sale_Date,Store_Location,Customer_Age,Payment_Method
0,2101,Tablet,1651.20,63,2022-07-15,Store_C,34,Debit Card
1,2102,Smartphone,1324.22,59,2022-06-20,Store_C,57,Debit Card
2,2103,Smartphone,1362.49,5,2024-04-06,Store_C,40,Cash
3,2104,Keyboard,779.72,43,2023-08-23,Store_C,30,Credit Card
4,2105,Tablet,1427.63,18,2023-04-03,Store_E,65,Online Payment
...,...,...,...,...,...,...,...,...
145,2246,Headphones,2017.17,39,2022-11-01,Store_B,19,Mobile Payment
146,2247,Monitor,597.07,4,2022-05-28,Store_B,50,Cash
147,2248,Headphones,139.45,49,2022-05-20,Store_E,36,Mobile Payment
148,2249,Laptop,2177.83,1,2024-04-30,Store_E,32,Mobile Payment
149,2250,Keyboard,273.67,22,2022-04-18,Store_C,68,Cash

In [18]:
import os
import pandas as pd

# Directory path
directory = '/home/nak/CODE/Python Course IBA/data'

# Loop through all files in the directory
for filename in os.listdir(directory):
    file_path = os.path.join(directory, filename)
    
    # Check if it is a file (not a directory)
    if os.path.isfile(file_path):
        print(f"Reading file: {filename}")

Reading file: sales_data .csv
Reading file: data.csv
Reading file: stuData.csv
Reading file: marks.csv
Reading file: students.csv
Reading file: employees.xlsx
Reading file: sales_data_cleaned.csv
Reading file: Python_Manual.pdf
Reading file: gdp.csv
Reading file: modified_employees.csv
Reading file: employees_data .csv
Reading file: employees.csv
Reading file: data1.csv

ModuleNotFoundError: No module named 'kaggle'

In [5]:
# Import Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load the Tips Dataset
tips_data = sns.load_dataset('tips')

# Display the first few rows and check the data types
print(tips_data.head())
print(tips_data.dtypes)

# Convert categorical variables into dummy/indicator variables
tips_data = pd.get_dummies(tips_data, columns=['sex', 'day', 'time'], drop_first=True)

# Display the first few rows of the modified dataset
print(tips_data.head())

# Check for non-numeric columns
non_numeric_cols = tips_data.select_dtypes(include=['object']).columns
print("Non-numeric columns:", non_numeric_cols)

# Check if there are any remaining non-numeric columns
if len(non_numeric_cols) > 0:
    for col in non_numeric_cols:
        print(f"Unique values in {col}: {tips_data[col].unique()}")

# Define features (X) and target (y)
X = tips_data.drop(columns=['tip'])
y = tips_data['tip']

# Check the data types of X again
print("Data types of features (X):")
print(X.dtypes)

# Ensure all features are numeric
X = X.apply(pd.to_numeric, errors='coerce')

# Check for any NaN values after conversion
print("NaN values after conversion:", X.isnull().sum().sum())

# Drop any rows with NaN values
X.dropna(inplace=True)
y = y[X.index]  # Make sure y matches the updated X

# Split the dataset into training and testing sets (80/20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Linear Regression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate Mean Squared Error and R² Score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

# Plotting predicted vs actual values
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred, alpha=0.7)
plt.plot([0, max(y_test)], [0, max(y_test)], 'r--')  # line of equality
plt.title('Actual vs Predicted Tips')
plt.xlabel('Actual Tips')
plt.ylabel('Predicted Tips')
plt.show()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object
   total_bill   tip smoker  size  sex_Female  day_Fri  day_Sat  day_Sun  \
0       16.99  1.01     No     2        True    False    False     True
1       10.34  1.66     No     3       False    False    False     True
2       21.01  3.50     No     3       False    False    False     True
3       23.68  3.31     No     2       False    False    False     True
4       24.59  3.61     No     4        True    False    False     True

   time_Dinner
0         True
1         True
2         True
3         True
4         True
Non-numeric columns: Index([], dtype='object')
Data types of features (X):
total_bill      float64
smoker         category
size              int64
sex_Female         bool
day_Fri            bool
day_Sat            bool
day_Sun            bool
time_Dinner        bool
dtype: object
NaN values after conversion: 244

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.