In [12]:
import pandas as pd
data = pd.read_csv("data.csv")
data
avg = data["Salary"].mean()
print(avg)
data

11000.0

         Name  Age    City  Salary
0   Nadir Ali   20  Sukkur   10000
1  Irshad Ali   44     KHI   20000
2      Farman   34     ISB    3000