<h1> Assignment2: Playing With Pandas </h1> 
 <h5 > Date: 14/10/2024 </br> Submitted by: Nadir Ali Khan </h5>

<h3>Exercise 1: Importing Pandas and Creating a DataFrame</h3>

In [6]:
# 1. Import the pandas library and assign it an alias.
import pandas as pd

In [7]:
# 2. Create a DataFrame from the following dictionary:
data = pd.DataFrame ({
'Name': ['Shahzaib','Nadir Ali','Alice', 'Bob', 'Charlie', 'David', 'Ella'],
'Age': [22, 21, 25, 30, 35, 40, 29 ],
'City': [ 'Sukkur', 'Sukkur','New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
'Salary': [70000, 21000, 80000, 120000, 110000, 95000, 33000]
})

In [ ]:
# 3. Display the first few rows of the DataFrame.
data.head(3)


<h3>Exercise 2: Reading Data from a CSV File</h3>

In [ ]:
# 1. Download and read a CSV file named employees.csv using pandas.
data.to_csv("employees.csv", index= False)
read = pd.read_csv("employees.csv")
read

In [ ]:
# 2. Display the first 10 rows of the CSV

# This is the new CSV file named students
stu = pd.read_csv("students.csv")

# Displaying the first 10 rows
stu.head(10)

In [ ]:
# 3. Display the summary (information) about the DataFrame using .info() and
# .describe() methods.

stu.info()
stu.describe()

<h3>Exercise 3: Selecting Columns and Rows</h3>

In [ ]:
# 1. Select the column "Age" from the DataFrame and print it.
age = data["Age"]
print(age)

In [ ]:
# 2. Select multiple columns, "Name" and "City", and print them.
nameCity = (data["Name"] , data["City"])
print(nameCity)

In [ ]:
# 3. Select the first 3 rows using .iloc[]
data.iloc[0:3]

<h3>Exercise 4: Filtering Data</h3>

In [ ]:
# 1. Filter the DataFrame to show only the records where the Salary is greater
# than 90,000.

data [data['Salary'] > 90000]

In [ ]:
# 2. Filter the DataFrame to show only the records where City is "New York"
# or "Chicago"
# Using | or Operator
data[(data['City'] == "New York") | (data['City'] == "Chicago")]

<h3>Exercise 5: Adding and Removing Columns</h3>

In [ ]:
# 1. Add a new column named "Experience" to the DataFrame, with values [2,
# 5, 8, 10, 4].

df = pd.DataFrame(data)
df.insert(3, "Experience",[2, 5, 8, 10, 4, 5, 7],True) # Method 1
df["Experience"] = [2, 5, 8, 10, 4, 5, 7] #Method 2
df

In [ ]:
# 2. Calculate a new column "Salary_in_Thousands" by dividing the Salary by
# 1000.
Thousands = data['Salary']/ 1000
df.insert(4, "Salary_in_Thousands", Thousands, True)
df

In [14]:
# 3. Remove the "Experience" column from the DataFrame.
dt = df.drop("Experience", axis=1, inplace=True) 
# dt
dt

<h3>Exercise 6: Indexing and Renaming</h3>

In [15]:
# 1. Set the "Name" column as the index for the DataFrame.
data.set_index('Name', inplace=True)
# data

In [ ]:
# 2. Reset the index back to the default integers.
df = data.reset_index()
df

In [ ]:
# 3. Rename the column "Salary" to "Annual_Salary".
df = data.rename(columns={'Salary': "Annual_Salary"})
df

<h3>Exercise 7: Sorting</h3>

In [ ]:
# 1. Sort the DataFrame by "Age" in ascending order.
age = data.sort_values('Age')
age

In [ ]:
# 2.Sort the DataFrame by "Salary" in descending order.
salary = data.sort_values('Salary', ascending=False)
salary
# data

<h3>Exercise 8: Handling Missing Values</h3>

In [20]:
# 1. Create a new DataFrame with some missing values using the following
# data:
data_with_nans = {
'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop', 'Monitor'],
'Price': [1000, None, 500, 800, None],
'Stock': [10, 15, None, 8, 12]
}
df = pd.DataFrame(data_with_nans)

In [ ]:
# 2. Fill the missing Price values with the mean price.

mean = df['Price'].mean()
df['Price'] = df['Price'].fillna(round(mean))
df

In [ ]:
# 3. Drop any rows where Stock is missing.
cleaned = df[df['Stock'].notna()]
cleaned

<h3>Exercise 9: Grouping and Aggregation</h3>

In [ ]:
# 1. Create a DataFrame using the following dictionary:
data = {
'Department': ['Sales', 'IT', 'HR', 'Sales', 'IT', 'HR', 'Sales'],
'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Ella', 'Frank', 'George'],
'Salary': [50000, 60000, 55000, 52000, 62000, 53000, 51000]
}
df = pd.DataFrame(data)
df

In [ ]:
# 2. Group the DataFrame by "Department" and calculate the average salary in
# each department.

depIT = df[df['Department'] == 'IT']
depHR = df[df['Department'] == 'HR']
depSales = df[df['Department'] == 'Sales']

meanIT = depIT['Salary'].mean()
meanHR = depHR['Salary'].mean()
meanSales = depSales['Salary'].mean()

print(f'The average salary in HR Department is: {meanHR}')
print(f'The average salary in IT Department is: {meanIT}')
print(f'The average salary in Sales Department is: {meanSales}')

In [ ]:

mean_salaries = df.groupby('Department')['Salary'].mean()


print(f"The average salary in HR Department is: {mean_salaries['HR']}")
print(f"The average salary in IT Department is: {mean_salaries['IT']}")
print(f"The average salary in Sales Department is: {mean_salaries['Sales']}")

<h3>Exercise 10: Applying Functions</h3>

In [ ]:
# 1. Create a function that takes an age value and returns "Young" if the age is
# below 30, "Mid-Age" if between 30 and 40, and "Old" if above 40.

dt = pd.read_csv('data.csv')
# age = dt['Age:']
age = pd.to_numeric(dt['Age:'], errors='coerce')

def func():
    result = []
    for x in age:
        if x < 30:
            result.append('Young')
        elif 30 <= x <= 40:
            result.append("Mid-Age")
        elif x > 40:
            result.append("Old")
    return result

arr = list(func())
arr

In [ ]:
# 2. Apply this function to the "Age" column in the DataFrame created in
# Exercise 1 and store the result in a new column named "Age_Group".

dt['Age_Group'] = arr
dt

### Exercise 11: Saving Data

In [41]:
# 1.Save the DataFrame you created in Exercise 1 to a CSV file named
# "modified_employees.csv".

data.to_csv("modified_employees.csv")

In [ ]:
# 2. Save it to an Excel file named "employees.xlsx".
data.to_excel("employees.xlsx")
data

### Exercise 12: Basic Plotting with Pandas

In [ ]:
# 1. Use the DataFrame created in Exercise 1 to create a simple bar chart
# showing Name on the x-axis and Salary on the y-axis.
data.plot(kind='bar', x='Name', y='Salary', figsize=(4,2))

In [ ]:
# 2. Create a pie chart that shows the distribution of employees across different
# "City" values.

dis = data['City'].value_counts()
dist = dis.plot(kind='pie', figsize=(4,2))
dist.set_ylabel('')

In [ ]:
data

[4 8 2 3 9]
[ 4 -1  2  3 -1]