In [5]:
lst = [[12,11], [1,3]]
print(lst[0][1])

11

In [6]:
counter = 0
while counter < 5:
    print(f'Counter {counter}')
    counter += 1

Counter 0
Counter 1
Counter 2
Counter 3
Counter 4

In [8]:
text = "Nadir Ali"
for char in text:
    print(char)

N
1
a
1
d
1
i
1
r
1

1
A
1
l
1
i
1

In [9]:
for i in range (1,6):
    if i ==3:
        continue
    print(i)

1
2
4
5

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [11]:
sq = [x ** 2 for x in range(1,6)]
print(sq)

[1, 4, 9, 16, 25]

In [20]:

def sq():
    sqr = [x ** 2 for x in range(1,11)]
    print(sqr)
sq()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
tup = (1,2,3,4,5)
for x in tup:
    print(x**2)

1
4
9
16
25

In [29]:
lst = []
num = int(input("Enter the number"))
lst.append(num)
for x in lst:
    print(x**2)

Enter the number 12

144

In [36]:
numbers = [int(x) for x in input("Enter Numbers Space-Seprated: ").split()]
for numm in numbers:
    print(f'The square of {numm} is {numm**2}')

Enter Numbers Space-Seprated:  0 9 8 7 6 5 4 3 2 1 12 13 14 15 16 17 18 19

The square of 0 is 0
The square of 9 is 81
The square of 8 is 64
The square of 7 is 49
The square of 6 is 36
The square of 5 is 25
The square of 4 is 16
The square of 3 is 9
The square of 2 is 4
The square of 1 is 1
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196
The square of 15 is 225
The square of 16 is 256
The square of 17 is 289
The square of 18 is 324
The square of 19 is 361

In [37]:
print(type(numbers))

<class 'list'>