In [8]:
counter = 0  # Initialize a counter

for i in range(1,21):
    for j in range(1,21):
        counter += 1  # Increment the counter for each inner loop iteration

print(f"The loop played {counter} times.")

The loop played 400 times.

In [10]:
# List of fruits
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Print the list of fruits
print(fruits[0])

apple

In [20]:
fruits = ["apple", "banana", "cherry", "mango"]

#  To remove the last item
fruits.pop()

#  Modify the item in the list
fruits[1] = "Blueberry" 

# Use list comprehension to create a new list
upper_fruits = [fruit.upper() for fruit in fruits]

print(upper_fruits)

['APPLE', 'BLUBERRY', 'CHERRY']

In [13]:
fruits = ["apple", "mangoe", "cherry"]

# Check if 'banana' is in the list
if "banana" in fruits:
    print("Banana is in the list.")
else:
    print("Banana is not in the list.")

Banana is not in the list.

In [15]:
fruits = ["apple", "banana", "cherry", "mango", "Orange"]

# Find the length of the list
print("Number of fruits:", len(fruits))

Number of fruits: 5

In [17]:
fruits = ["banana", "apple", "cherry", "mango", "orange","Apple"]

# Sort the list in alphabetical order
fruits.sort()

# Print the sorted list
print(fruits)

['Apple', 'apple', 'banana', 'cherry', 'mango', 'orange']

In [28]:
# Reverse the list
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Two methods to reverse the list
reverse_list = fruits[::-1]
# fruits.reverse()
print(reverse_list)
print(fruits[0:2])

['orange', 'mango', 'cherry', 'banana', 'apple']
['apple', 'banana']

In [30]:


numbers = [1, 23, 54, 76, 77]
# largest_number = max(numbers)
# print(largest_number)

# Second Method
largest = numbers[0]  # Assume the first number is the largest
for number in numbers:
    if number > largest:
        largest = number
print(largest)

77

In [33]:
# To remove duplicate fruits
fruits = ["Apple", "Banana", "Orange", "Apple"]
unique_fruits = list(set(fruits))  # This removes duplicates but may change the order
unique_fruits.sort()
print(unique_fruits)
print(fruits[-3:-1])

['Apple', 'Banana', 'Orange']
['Banana', 'Orange']

In [38]:

nums = [1,2,3]
print(type(nums))

<class 'list'>

In [42]:
# Slicing
list = [1+1,2,3,4,5,6,7,8,9]
list[0:2], list[2:4], list[4:6]

([2, 2], [3, 4], [5, 6])

In [46]:
# To check the Data Type
mixed = ["Nadir", 12, 13.12 ]
type(mixed[0]), type(mixed[-1]), type(mixed[1])

(str, float, int)

In [57]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.append(7)
list1.extend(list2)

In [58]:
list1

[1, 2, 3, 7, 4, 5, 6]

In [62]:

names = ["Nadir ", "Janzeb", "Ali Hassan","Raheem", "Farman"]
marks = [55, 78, 32,54, 23]
marks.sort()
names.sort()
print(names)
print(marks)

['Ali Hassan', 'Farman', 'Janzeb', 'Nadir ', 'Raheem']
[23, 32, 54, 55, 78]

In [81]:
names = ["Nadir", "Janzeb", "Ali Hassan", "Raheem", "Farman"]
marks = [55, 78, 32, 54, 23]


for i in range(len(names)):
    print(names[i], "\t" ,  marks[i])

Nadir 	 55
Janzeb 	 78
Ali Hassan 	 32
Raheem 	 54
Farman 	 23